/* import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* root */

:root {
  /* color */
  --dark-1: #1e2131;
  --dark-2: #24253c;
  --red: #dd595f;
  --paragraph-color: #969696;
  --heading-color: #fff;

  /* font familt */
  --poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--poppins);
}

/* html tag */

.container {
  padding: 0 10%;
}

section {
  padding: 4rem 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  color: var(--paragraph-color);
  margin-bottom: 0.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

h6 {
  color: var(--red);
}

.bg-dark1 {
  background-color: var(--dark-1);
}
.bg-dark2 {
  background-color: var(--dark-2);
}

/* loader */
.loader {
  width: 100%;
  height: 100vh;
  background-color: var(--dark-1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.loader.remove {
  top: -150%;
}

/* navbar */
nav {
  /* border-bottom: 1px solid rgb(92, 92, 92); */
  position: fixed;
  top: 0;
  z-index: 10;
}

nav .container {
  max-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--heading-color);
  font-size: 2rem;
  font-weight: bold;
}

.nav-links {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-link {
  color: var(--heading-color);
  padding: 1.5rem 2rem;
}

.nav-link:hover {
  color: var(--paragraph-color);
}

.nav-btn {
  padding: 0.5rem 1rem;
  color: var(--heading-color);
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  z-index: 15;
  display: none;
}

/* header */
.header {
  background-image: url(./mountain1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header .container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
}

.profile-img {
  width: 220px;
  height: 220px;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 50%;
  background-color: grey;
}

.profile-text {
  text-align: center;
}

.profile-text h1 {
  font-size: clamp(2rem, 3vw + 1rem, 3rem);
}

.profile-text p {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
}

/* about */
.about .container {
  color: white;
  display: flex;
  align-items: center;
}

.about .profile-img {
  width: 100%;
  height: 450px;
  border-radius: 0.2rem;
}

.about-text h1 {
  margin-bottom: 2rem;
}

.about-text p {
  text-align: justify;
}

.about-biodata {
  margin-top: 2rem;
}

.about-biodata p {
  margin-bottom: 0.5rem;
}

/* skills */

.skills {
  color: white;
}

.skills h2 {
  margin-bottom: 2rem;
}

.skills-col-2 {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.skill {
  width: 80%;
  margin: 0;
  margin-bottom: 2rem;
}

.skill-bar {
  width: 100%;
  height: 7px;
  background-color: black;
  border-radius: 2rem;
  position: relative;
}
.skill-bar::before {
  content: "";
  height: 100%;
  border-radius: 2rem;
  background-color: var(--red);
  position: absolute;
  left: 0;
  top: 0;
}

.skill-bar::after {
  content: attr(data-percent);
  font-size: 12px;
  position: absolute;
  bottom: 110%;
  right: 0;
}

/* skill bar fill */
.html::before {
  width: 87%;
}
.css::before {
  width: 85%;
}
.js::before {
  width: 80%;
}
.jq::before {
  width: 78%;
}
.php::before {
  width: 82%;
}
.sql::before {
  width: 80%;
}
.laravel::before {
  width: 75%;
}

/* portofolio */

.portofolio {
  color: white;
}

.portofolio h2 {
  margin-bottom: 2rem;
}

.portofolio-card {
  padding: 1rem;
  background-color: var(--dark-1);
  border-radius: 0.2rem;
}

.portofolio-card img {
  width: 100%;
  max-height: 15rem;
  margin-bottom: 1rem;
  border-radius: 0.1rem;
}

.btn {
  margin-top: 1rem;
  background-color: var(--red);
}

footer {
  background-color: var(--dark-1);
  text-align: center;
}

footer h1 {
  margin: 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  line-height: 10vh;
}

/* screen 990px */

@media screen and (max-width: 990px) {
  .container {
    padding: 0 3%;
  }

  .skills-col-2 {
    align-items: start;
  }
}

/* screen 770px */
/* responive navbar */

@media screen and (max-width: 770px) {
  .nav-btn {
    display: block;
  }

  .nav-links {
    padding: 4rem 0;
    background-color: var(--dark-1);
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    transition: 0.4s ease-in-out;
  }

  .nav-links.active {
    right: 0;
  }
}
